.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .reg-conten > * {
    width: 100%;
  }
  
  .fill-space {
    flex: 1 1 auto;
  }
